.dark {
    background-color: black;
}

.mybtn {
    width: 70px;
    height: 50px;
    border: 1px solid white;
    float: right;
    transition: 0.5s;
}

@media (max-width:450px) {
    .mybtn {
        margin-right: 1px;
        width: 50px;
        height: 40px;
    }
}

h1 {
    text-align: center;
    padding: 50px;
    font-size: 100px !important;
    font-family: 'Pushster', cursive;
}

@media (max-width:450px) {
    h1 {
        padding: 30px;
        font-size: 33px !important;
        font-family: 'Pushster', cursive;
    }
}
@media (max-width:450px) {
    .addtask  {
        width: 100%;
    }
}
.div {
    width: 25%;
    margin: auto;
    margin-top: 15px;
    border: 1px solid gray;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 20px;
    display: none;
}

@media (max-width:450px) {
    .div {
        width: 95%;
    }
}

.div h2 {
    color: white;
    text-align: center;
}



.div1{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(78, 72, 72);
    width: 50%;
    margin: auto;
    margin-top: 25px;
    height: 200px;
    border: 3px solid lightslategrey;
    border-radius: 20px;

}

.div2{
    display: flex;
    justify-content: space-between;
    background-color: rgb(103, 130, 165);
    width: 75%;
    height: 60px;
    margin: auto;
    border: 1px solid white;
    border-radius: 15px;
}
@media (max-width:450px) {
    .div1{
        width: 95%;
    }
}
@media (max-width:450px) {
    .div2{
        width: 100%;
    }
}
.div2 p{
    line-height: 3;
    font-size: 20px ;
    color: white;
    margin-left: 20px;
    display: block;


}
@media (max-width:450px) {
    .div2 p{
        font-size: 16px;
        margin-left: 20px;
        margin-top: 5px;
    }
}
.div2 .btn{
    height: 50px;
    margin-top: 5px;
    margin-right: 20px;
    display: none;
}
@media (max-width:450px) {
    .div2 .btn{
        height: 40px;
        margin-top: 8px;
        margin-right: 5px;

    }
}
.hr{
    height: 2px;
    margin: 20px auto;
    background: white;
}
